* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: Inter;
}

/* --------Navbar start------------- */

nav {
    display: flex;
    justify-content: center;
    padding: 16px 0;
}

.container {
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
}

.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

a {
    font-size: 16px;
    font-weight: 500;
    color: black;
    text-decoration: none;
}

.btn {
    padding: 12px 16px;
    color: white;
    background: #30B868;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    text-transform: capitalize;
    font-family: Inter;
    border: 1px solid transparent;
    transition: all 0.3 ease;
}

.btn:hover {
    border: 1px solid rgb(3, 3, 3);
    background: transparent;
    color: #30B868;
}

.arrow:hover {
    border: 1px solid rgb(255, 255, 255);
    background: transparent;
    color: #ffffff;
}

.border:hover {
    border: 1px solid transparent;
    background: #30B868;
    color: #ffffff;
}

.border {
    background: transparent;
    border: 1px solid white;
}

/* ------------Navbar end------------ */



/* ------------Banner start------------ */
.banner {

    display: flex;
    justify-content: center;
    background: url(../assets/hero-bg.png) no-repeat center;
    background-size: cover;
    padding: 154px 0 180px 0;
}

.main-content {
    padding: 0 295px;
    margin: 0 auto;
}

.banner-wrappar {
    padding: 8px 12px;
    background: rgb(255, 255, 255);
    border-radius: 100px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.circle {
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: rgba(70, 145, 101, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: rgba(70, 145, 101, 0.4);
}

.circle::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: #469165;
}

.circle-text {
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    line-height: 19px;

}

h1 {
    font-size: 72px;
    font-weight: 700;
    color: white;
    line-height: 84px;
    text-align: center;
    text-transform: capitalize;
    padding: 24px 0 16px 0;
}

.text-heading {
    font-size: 18px;
    align-items: center;
    line-height: 24px;
    text-align: center;
    color: white;

}

.btn-grp {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 16px;
}

/* -------------Banner end------------- */

/* -------------Card start------------- */

#card {
    padding: 120px;
    background: #F7F6F2;
    position: relative;
    z-index: 1;
}

h2 {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    line-height: 58px;
    text-transform: capitalize;
    margin-bottom: 16px;
}

.regular-paragraph {
    line-height: 20px;
    text-align: center;
    color: #627382;
    text-align: center;
}

.card-wrappar {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-top: 44px;
}

.card-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 24px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    background: #fff;
    border-radius: 8px;
    height: 300px;
}

.card-item img {
    width: 48px;
    height: 48px;
    padding: 12px;
    background: #F95555;
    border-radius: 50%;
    object-fit: contain;
}

h3 {
    font-size: 24px;
    line-height: 29px;
    font-weight: 600;
    color: #001931;
    text-transform: capitalize;
    text-align: center;
}

/* -------------Card end------------- */


/* ------------solution start------------- */

#solution {
    padding: 120px 0;
    background: #ffff;
    margin-top: -150px;
    position: relative;
    z-index: 2;
}

.solution-flex {
    display: flex;
    align-items: center;
}

.solution-right {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 60px;
}

.solution-label {
    text-transform: uppercase;
    color: #30B868;
    text-align: left;
}

.solution-title {
    text-align: left;
    margin: 16px 0;
}

.solution-desc {
    text-align: left;
    max-width: 500px;
}


.text-list-wrappar {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 16px;
}


.text-list {
    display: flex;
    align-items: center;
    gap: 6px;
}


.check-circle {
    color: #30B868;
}

.list-paragraph {
    font-weight: 500;
    line-height: 20px;
}


/* ------------solution end------------- */


/* ------------Credit start------------- */
#credit {
    padding-bottom: 120px;
}

.credit-flex {
    padding: 80px 40px;
    background: #f7f6f2;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.heading-sm {
    font-size: 40px;

}

.credit-w {
    width: 600px;
}

.margin-top-bottom {
    margin: 24px 0 16px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
}

/* ------------Credit end------------- */

/* ------------Footer start------------- */

.flex-justify-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer-section {
    padding: 130px 0 30px;
    background: #001931;
}


.social-text {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: #fff;
}

.social-icon {
    display: flex;
    gap: 16px;
    margin-top: 40px;
}

.social-item {
    background: white;
    width: 24px;
    height: 24px;
    padding: 4px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider {
    width: 100%;
    height: 1px;
    margin: 80px 0 30px;
    background: hsla(220, 13%, 91%, 0.20);
}

.copyright {
    font-size: 16px;
    font-weight: 400;
    color: white;
    text-align: center;
    line-height: 24px;
}

/* Footer end */