* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter;
}

nav {
    display: flex;
    justify-content: center;
    padding: 16px 0;
}


.container {
    max-width: 1360px;
    width: 100%;
    margin: auto, 0;
}

.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    font-size: 16px;
    font-weight: 500;
    color: black;
    text-decoration: none;
}

ul {
    display: flex;
    gap: 32px;
    list-style: none;
}

.btn {
    padding: 12px 16px;
    color: white;
    border-radius: 4px;
    background: #30B868;
}